@import './var';
@import './reset';

body {
  font-size: 16px;
  font-family: Arial, "Microsoft Yahei", sans-serif;
  color: #666;
  background: #f4f4f4;
}

.wrapper {
  text-align: center;
}

.main-content {
  width: 100%;
  max-width: $mainWidth;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}


a {
  outline: none;

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }
}
