doctype html
html(lang='zh-CN')
  head
    title hahaha
    meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(type='text/css', rel='stylesheet', href='#{cdnStatic}/css/index.css')
  body
    div#root
    script(type='text/javascript', src='#{cdnStatic}/index.bundle.js')
